@use "../abstracts/mixins.scss" as *;
@use "../base/variables.scss" as *;

.hard-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  @include set-width-and-height;
  background: linear-gradient(
    90deg,
    rgb(251, 215, 134, 0.55) 0%,
    rgba(198, 255, 221, 0.55) 50%,
    rgba(247, 121, 125, 0.55) 100%
  );

  .hard-skills__header-container {
    width: 100%;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    @media (max-width: $breakpoint-sm) {
      margin-top: 3rem;
    }
    .hard-skills__header {
      font-size: 9rem;
      line-height: 7rem;
      margin: 0;
      @include color-gradient-on-text;
      @media (max-width: $breakpoint-lg) {
        font-size: 6rem;
        line-height: 5rem;
      }
      @media (max-width: $breakpoint-sm) {
        font-size: 5rem;
        padding-left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
      }
      @media (max-width: $breakpoint-xs) {
        font-size: 3.75rem;
      }
    }
  }

  .card__face.card__face2 {
    border-radius: 15px;
  }

  .card:nth-child(2) {
    .card__face.card__face2 {
      background-image: linear-gradient(
        0deg,
        rgba(251, 215, 134, 1) 0%,
        rgba(247, 121, 125, 1) 100%
      );
    }
  }

  .card:nth-child(3) {
    @media (max-width: $breakpoint-sm) {
      margin: 2rem 0;
    }
    .card__face.card__face2 {
      background-image: linear-gradient(
        0deg,
        rgba(198, 255, 221, 1) 0%,
        rgba(251, 215, 134, 1) 100%
      );
    }
  }

  .card:nth-child(4) {
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 3rem;
    }
    .card__face.card__face2 {
      background-image: linear-gradient(
        0deg,
        rgba(247, 121, 125, 1) 0%,
        rgba(198, 255, 221, 1) 100%
      );
    }
  }
}
