@use "../base/variables.scss" as *;

.container-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 120rem;
  margin: 0 auto;
  /** 1200px oder schmaler */
  @media (max-width: $breakpoint-lg) {
    width: 75rem;
  }
}
