@use "../base/variables.scss" as *;

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 120rem;
  margin: 0 auto;
  /** 1200px oder schmaler */
  @media (max-width: $breakpoint-lg) {
    width: 75rem;
  }
}

.about-me__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 120rem;
  height: 100%;
  @media (max-width: $breakpoint-lg) {
    width: 73rem;
  }
  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }
}

.soft-skills__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 120rem;
  height: 100%;
  @media (max-width: $breakpoint-lg) {
    width: 73rem;
  }
  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }
}

.hard-skills__container {
  display: flex;
  flex-wrap: wrap;
  width: 120rem;
  height: 100%;
  @media (max-width: $breakpoint-lg) {
    width: 73rem;
  }
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
