@use "../base/variables.scss" as *;
.close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 5rem;
  height: 5rem;
  display: none;
  @media (max-width: $breakpoint-sm) {
    display: block;
  }
  &:hover {
  }
  &::after,
  &::before {
    position: absolute;
    content: "";
    height: 0.1rem;
    width: 5rem;
    background-color: rgba(251, 215, 134, 1);
    transition: transform 1s ease-in-out, height 1s ease-in-out;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
  &--transformed {
    height: 0;
    &::after,
    &::before {
      transform: rotate(0deg);
      height: 0.5rem;
      border-radius: 3rem;
    }
    &::after {
      top: 1.5rem;
    }
    &::before {
      bottom: 1.5rem;
    }
  }
}
.navbar-wrapper {
  position: fixed;
  right: 7.5%;
  top: 2rem;
  width: 5rem;
  height: 5rem;
  z-index: 10;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  padding-top: 1rem;
  filter: blur(0.5rem);
  @media (max-width: $breakpoint-sm) {
    padding-top: 1rem;
  }
  transition: padding 1s ease-in-out, background-color 1s linear,
    filter 1s ease-in-out;
  &.navbar--expanded {
    padding: 1.75rem 0;
    background-color: rgba(39, 72, 85, 0.5);
    filter: blur(0);
    @media (max-width: $breakpoint-sm) {
      padding: 1rem 0 1rem 0;
      transition: background-color 1s ease-in-out, top 1.5s ease-in-out,
        filter 0.75s ease-in-out;
    }
  }
  #progress-bar {
    height: 71%;
    background-color: #d3d3d3;
    opacity: 0.3;
    content: "";
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
    transition: width 1s ease-in-out;
    z-index: -10;
    @media (max-width: $breakpoint-sm) {
      display: none;
    }
  }
  .navbar__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    position: relative;
    @media (max-width: $breakpoint-sm) {
      display: none;
      &--expanded {
        display: flex;
        flex-direction: column;
        align-items: baseline;
      }
    }
    .navbar__list-item {
      opacity: 0;
      transition: opacity 1.25s;
      display: flex;
      @media (max-width: $breakpoint-sm) {
        opacity: 0.8;
      }
      .navbar__link {
        font-family: "Quicksand";
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        color: #e0e0e0;
        opacity: 0.8;
        padding-top: 1rem;
        @media (max-width: $breakpoint-xl) {
          font-size: 1.5rem;
          padding: 0.2rem;
        }
        @media (max-width: $breakpoint-sm) {
          padding: 0.5rem 0.5rem 0.5rem 0.75rem;
        }
        &::after {
          content: "";
          width: 0;
          height: 0.5rem;
          background-color: #e0e0e0;
          display: block;
          border-radius: 1rem;
          transition: width 0.5s ease-in-out;
        }
        &:hover {
          text-decoration: none;
          &::after {
            width: 100%;
          }
        }
        &.active {
          &::after {
            width: 100%;
            background-color: rgba(251, 215, 134, 0.8);
          }
        }
      }
    }
  }
}
