$yellow: rgba(251, 215, 134, 1) !default;
$blue: rgba(74, 164, 197, 1) !default;
$pink: rgba(247, 121, 125, 1) !default;

/** 1440px oder schmaler */
$breakpoint-xl: 90em !default;

/** 1200px oder schmaler */
$breakpoint-lg: 75em !default;

/** 992px oder schmaler */
$breakpoint-md: 62em !default;

/** 768px oder schmaler */
$breakpoint-sm: 48em !default;

/** 576px oder schmaler */
$breakpoint-xs: 36em !default;

/** Breakpoints */
@media (max-width: $breakpoint-xl) {
}
@media (max-width: $breakpoint-lg) {
}
@media (max-width: $breakpoint-md) {
}
@media (max-width: $breakpoint-sm) {
}
@media (max-width: $breakpoint-xs) {
}
